.title-container {
    padding: 16px;
    background-color: #f5f5f5; /* Cor de fundo sutil para destacar a área do título */
    border-radius: 8px; /* Cantos arredondados para um design mais moderno */
}

.title {
    font-weight: bold; /* Deixa o texto mais destacado */
    color: #333; /* Cor de texto mais escura para contraste */
}

.academic-record-container {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* Azul profissional */
    color: white; /* Texto branco para contraste */
    padding: 0.5rem 1.25rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte legível */
    font-weight: 500; /* Peso médio para um toque profissional */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado padrão */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar o botão */
}

    .edit-btn:hover {
        background-color: #0056b3; /* Cor mais escura no hover */
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* Aumenta a sombra no hover */
    }

    .edit-btn:active {
        background-color: #004494; /* Cor mais escura no clique */
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra reduzida no clique */
        transform: translateY(1px); /* Efeito de clique visual */
    }
}

.btn {
    margin-top: 16px;
}

.tabs-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e0e0e0; /* Linha abaixo para destacar as abas */
}

